<!DOCTYPE html>
<html>
  <head>
    <title>View Video</title>
  </head>
  <body>
    <h1>View Video</h1>
    <video width="640" height="480" controls>
      <source src="{{ url_for('uploaded_file', filename=filename) }}" type="video/mp4">
      <source src="{{ url_for('uploaded_file', filename=filename) }}" type="video/quicktime">
      <source src="{{ url_for('uploaded_file', filename=filename) }}" type="video/avi">
      
    </video>
    <a href="{{ url_for('uploaded_file', filename=filename) }}" download>Download Video</a>
    
    <p>Feedback: The number of frames in this video is: {{ feedback }}</p>
    <a href="{{ url_for('index') }}">Go back to index</a>
  </body>
</html>
